<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<div th:fragment="navbarMenuUsuario">
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  		<a class="navbar-brand" th:href="@{/menu}"><i class="fas fa-cart-plus"></i>OLX</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
    		<li class="nav-item dropdown active">
        		<a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{cat.titulo}"></a>
        		<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          			<li class="dropdown-submenu" th:each="cate : ${categorias}">
          				<a class="dropdown-item dropdown-toggle" th:text="${cate.nombre}"></a>
          					<ul class="dropdown-menu" >
              					<li th:each="sub : ${subcategorias}">
              						<a class="dropdown-item" th:href="@{/user/subcategoria/{idSubcategoria}(idSubcategoria=${sub.id})}" th:text="${sub.nombre}" th:if="${sub.categoria.id == cate.id}"></a>
              					</li>
              				</ul>
          			</li>
        		</ul>
      		</li>
      		<li class="nav-item active dropdown">
        		<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{anuncio.titulo}"></a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" th:href="@{/user/anuncios}" th:text="#{anuncio.misAnuncios}"></a>
          			<a class="dropdown-item" th:href="@{/user/registrarAnuncio} " th:text="#{anuncio.crear}"></a>
        		</div>
      		</li>
      		<li class="nav-item  active">
        		<a class="nav-link "  role="button" aria-haspopup="true" aria-expanded="false" th:href="@{/user/mensajes}" th:text="#{msj.titulo}"></a>
      		</li>
      		<li class="nav-item active dropdown">
        		<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{admin.perfil}"></a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" th:href="@{/user/buscarUsuario}" th:text="#{perfil.modificar}"></a>
          			<a class="dropdown-item" th:onclick="eliminarUsua()" th:text="#{perfil.eliminar}"></a>
          			<div class="dropdown-divider"></div>
          			<form th:action="@{/logout}" method="post">
          				<button type="submit" class="dropdown-item"  th:text="#{user.cerrarSesion}"></button>
          			</form>
        		</div>
      		</li>
    	</ul>
    	<form class="form-inline my-2 my-lg-0" th:action="@{/user/palabraClave}" method="Get">
      		<input class="form-control mr-sm-2" type="search" th:placeholder="#{buscar.insertarBusqueda}" aria-label="Search" name="palabra" >
      		<button class="btn btn-outline-dark my-2 my-sm-0" type="submit" th:text="#{buscar.boton}"></button>
    	</form>
  	</div>
	</nav>
</div>
</body>
</html>