<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<div  th:replace="fragment/header :: head"></div>
</head>
<body>
	<div th:replace="fragment/navbarMenuUsuario :: navbarMenuUsuario"></div>					
	<div class="m-3" align="center">
		<div class="card" style="width: 55rem;">
  			<div class="card-body">
  				<h5 class="card-title" th:text="#{anuncio.crearAnuncio}"></h5>
  			    <form action="#" th:action="@{/user/guardarAnuncio}" th:object="${anuncio}" method="post" enctype="multipart/form-data">
  			    	<input type="hidden" id="agregarUrl" th:field="*{urlFoto}">
  			    	<input type="hidden" id="cambioUrl" name="cambioUrl" value="false">
    				<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{anuncio.nombre}"></label>
    								<input required = "true" type="text" class="form-control" th:placeholder="#{anuncio.insertarTitulo}" th:field="*{titulo}" >
    								<span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{anuncio.descripcion}"></label>
    								<textarea required = "true" class="form-control" id="exampleFormControlTextarea1" rows="7" th:placeholder="#{anuncio.insertarDescripcion}" th:field="*{descripcion}"></textarea>
    								<span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="text-danger"></span>
  								</div>
  								<div class="form-group">
    								<label for="exampleFormControlSelect1" th:text="#{anuncio.subcategoria}"></label>
    								<select class="form-control" th:field="*{subcategoria}" id="exampleFormControlSelect1" >
     									<option th:each="sub : ${subcategorias}"   th:value="${sub.id}" th:text="${sub.nombre}"></option>
    								</select>
    								<span th:if="${#fields.hasErrors('subcategoria')}" th:errors="*{subcategoria}" class="text-danger"></span>
  								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{anuncio.precio}"></label>
    								<input required = "true" type="number" min="1000" pattern="^[0-9]+" class="form-control"  th:placeholder="#{anuncio.insertarPrecio}" th:field="*{precio}">
    								<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{anuncio.contacto}"></label>
    								<input required = "true" type="text" class="form-control"  th:placeholder="#{anuncio.insertarContacto}" th:field="*{contacto}">
    								<span th:if="${#fields.hasErrors('contacto')}" th:errors="*{contacto}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="file-upload" class="subir btn btn-primary" th:text="#{anuncio.subirImagen}">
    									<i class="fas fa-cloud-upload-alt"></i> 
									</label>
    								<input type="file" id="file-upload" accept="image/*" class="form-control-file" style='display: none;' name="file">
    								<span th:if="${#fields.hasErrors('urlFoto')}" th:errors="*{urlFoto}" class="text-danger"></span>
    								<div>
  										<img id="imcargar" src="/images/sinfoto.jpg" class="img-fluid rounded mt-2" style='width: 14rem; heigth: auto;'>
  									</div>
  								</div>
  								
							</div>
						</div>
						</div>
					<div>
						<button class="btn btn-primary" type="submit"><i class="fas fa-plus-circle"></i></button>
					</div>
				</form>
  			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: foo"></div>
	<script src="js/subirImagen.js" th:src="@{/js/subirImagen.js}"></script>
</body>
</html>