<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div  th:replace="fragment/header :: head"></div>
<div  th:replace="fragment/cabezera :: cabezera"></div>
<link rel="stylesheet" th:href="@{/css/registroUsuarios.css}"/>
</head>
<body>
	<div class="m-3" align="center">
		<div class="card" style="width: 45rem;">
  			<div class="card-body">
  				<span class="card-title" th:text="#{usuario.llenar}" ></span>
  			    <form action="#" th:action="@{/guardarUsuario}" th:object="${usuario}" method="post">
    				<div class="container">
						<div class="row" >
							<div class="col-md-6">
								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{usuario.nombre}" ></label>
    								<input required = "true" type="text" class="form-control" th:placeholder="#{admin.insertarNombre}" th:field="*{nombre}" >
    								<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{usuario.telefono}"></label>
    								<input required = "true" type="number" min="1000000" pattern="^[0-9]+" class="form-control"   th:placeholder="#{admin.insertarTelefono}" th:field="*{telefono}" >
    								<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{usuario.direccion}" ></label>
    								<input required = "true" type="text" class="form-control"  th:placeholder="#{admin.insertarDireccion}" th:field="*{direccion}">
    								<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{usuario.contrasena}" ></label>
    								<input required = "true" type="password" class="form-control"   th:placeholder="#{admin.insertarContrasena}" th:field="*{contrasena}">
    								<span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="text-danger"></span>
  								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{usuario.apellidos}" ></label>
    								<input required = "true" type="text" class="form-control"  th:placeholder="#{admin.insertarApellido}" th:field="*{apellido}">
    								<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{admin.fecha}"></label>
    								<input required = "true" type="date" class="form-control"   th:placeholder="#{admin.insertarFecha}" th:field="*{fechaNacimiento}">
    								<span th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="text-danger"></span>
  								</div>
  								<div class="form-group ">
    								<label for="exampleFormControlInput1" th:text="#{admin.correo}"></label>
    								<input required = "true" type="text" class="form-control"  id="exampleFormControlInput1" th:placeholder="#{admin.insertarCorreo}" th:field="*{correo}">
    								<span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="text-danger"></span>
  								</div>
  								<div class="form-group" >
    								<label for="exampleFormControlInput1" th:text="#{admin.repetirContrasena}"></label>
    								<input required = "true" type="password" class="form-control" th:placeholder="#{admin.insertarRepetirContrasena}" th:field="*{repContrasena}">
    								<span th:if="${#fields.hasErrors('repContrasena')}" th:errors="*{repContrasena}" class="text-danger"></span>
  								</div>
							</div> 
						</div>
						<span th:text="${error}" class="text-danger"></span>
						<span th:text="${errorContrasena}" class="text-danger"></span>
						</div>
					<div>
						<button class="btn btn-primary" type="submit"><span th:text="#{usuario.guardar}"><i class="fas fa-user-plus" ></i></span></button>
					</div>
				</form>
  			</div>
		</div>
	</div>
	<div th:replace="fragment/footer :: foo"></div>
</body>
</html>